/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  @media screen {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  padding: 30px 0;

  & .logo {
    justify-content: flex-start;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }
}
