/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "Kameron", "Noto Serif JP", serif, serif;
  max-width: 100%;
  margin: 0;
}

.font-exsm {
  font-size: 12px;
}
.font-exlg {
  font-size: 56px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 20px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  @media screen {
    display: flex;
    flex-direction: column;
  }
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  margin-bottom: 15px;
  color: $cSubTitle;
}

#opening-msg {
  background-color: black;
  color: $cWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: hidden;
  transition: opacity ease 0.3s;

  &.done {
    opacity: 0;
  }
}

.animate-title {
  @extend .font-lg;
  color: $cWhite;
}

#global-container {
  opacity: 0;
  transition: opacity ease 1s;

  &.inview {
    opacity: 1;
  }
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  height: $navHeight;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  display: flex;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__inner {
    @extend .content-width;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > a {
      color: $cSubTitle;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__li {
    list-style: none;
    margin-left: 25px;

    & > a {
      color: $cSubTitle;
      text-decoration: none;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 10%;
        background-color: $cSubTitle;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        transform: translateY(300%);
        transition: transform 0.1s;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }

  & .logo {
    @extend .font-lg;
    display: flex;
    justify-content: center;
  }
}

.hero {
  @extend .pb-lg;
  padding-top: 100px;
  z-index: 100;
}

.message {
  @extend .content-width;
  @extend .mb-lg;
  text-align: center;

  & #time {
    @extend .font-exlg;
  }

  &__sub-title {
    @extend .font-md;
    @extend .mb-lg;
  }
  &__txt {
    @extend .font-md;
    line-height: 35px;
  }
}

.action {
  text-align: center;
  &__content {
    @extend .content-width;
    @extend .mb-sm;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: $cBgGray;
  }
  &__img {
    width: 40%;
    margin-right: 10px;
    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__inner {
    width: 60%;
  }

  &__title {
    @extend .font-md;
  }

  &__sub-title {
    @extend .font-exsm;
  }

  &__btn {
    @extend .font-sm;
  }
}

.footer {
  @extend .content-width;
  padding: 20px 0;

  & > a {
    color: $cSubTitle;

    &:hover {
      text-decoration: none;
    }
  }

  &__nav {
    @extend .flex;
    @extend .font-md;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
  }

  &__li {
    list-style: none;
    padding: 0;
    margin: 5px 0;

    & > a {
      color: $cSubTitle;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 10%;
        background-color: $cSubTitle;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        transform: translateY(300%);
        transition: transform 0.1s;
        opacity: 0;
      }

      &:hover::before {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }

  & .logo {
    @extend .font-lg;
    display: flex;
    justify-content: center;
  }
}
